body{
    background: linear-gradient(rgb(77,77,77), rgb(58,58,58));
    color: rgb(68, 68, 68);
}

#page-logo a {
    color: rgb(183, 230, 235);
}

header{
    position: static;       /*valor por defecto*/
}

header a {
    color: rgb(183, 230, 235);
}

header nav a:hover {
    background-color: rgb(183, 230, 235);
    color: rgb(59, 59, 59);
}

main ul {
    width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;     /*cuantas columnas queremos y de que sizev*/
    gap: 25px 50px;     /*separacion entre los cubos */
}

main li{
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;       /* que nada sobresalga del contenedor */
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;      /* que cubra todo y mantenga el aspecto */
}

main li:nth-of-type(3) {
    grid-column: 1/span 2;  /*que ocupe mas de una columna */
}

.item-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content h2 {
    margin: 0;
}

.actions {
    text-align: right;
}

.actions a {
    text-decoration: none;
    padding: 6px;
    color: rgb(22, 211, 228);
    border-radius: 6px;
}

.actions a:hover {
    background-color: rgb(235, 253, 255);
}